# --- SYSTEM / EDITORS ---
# systemowe i edytorów
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# --- DOCKER ---
# dane wolumenów i buildów
dbdata/
psdata/
*/__pycache__/
docker-compose.override.yml
.env
*.env
.env.*

# logi kontenerów
logs/
*.log

# pliki tymczasowe z docker-compose
tmp/
*.pid

# --- PRESTASHOP ---
# nie commituj plików generowanych przez Prestashop
/var/
/vendor/
/modules/.*
!/modules/test_module/      # zostaw swój moduł lokalny
/themes/.*
!/themes/mytheme/           # zostaw swój motyw lokalny
/app/cache/
/app/logs/
/config/settings.inc.php
/img/
/download/
/upload/
/mails/
/translations/

# --- NODE / FRONTEND (jeśli używasz w theme)
/node_modules/
/package-lock.json
/yarn.lock
/dist/
/build/

# --- BACKUPS ---
*.sql
*.tar
*.zip
*.gz

# --- OS TEMP ---
*.tmp
*.bak
*.old
