services:

  db:
    container_name: mariadb
    image: mariadb:10.6
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: prestashop
      MARIADB_USER: admin
      MARIADB_PASSWORD: admins
    networks:
      - prestashop_network
    ports:
      - 3306:3306
    volumes:
      - dbdata:/var/lib/mysql
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - 8081:8080

  prestashop:
    container_name: prestashop
    image: prestashop/prestashop:1.7.8
    restart: unless-stopped
    ports:
      - 8080:80
    environment:
      PS_DEV_MODE: "1"
      PS_FOLDER_ADMIN: admin1234
      PS_FOLDER_INSTALL: install1234
      DB_SERVER: db
      DB_NAME: prestashop
      DB_USER: root
      DB_PASSWD: root
      PS_INSTALL_AUTO: 0
      _PS_DEBUG_PROFILING_: "1"             # Profiling
      _PS_DISABLE_OVERRIDES_: "0"           # Zezwól na override
      _PS_SMARTY_FORCE_COMPILE_: "1"        # WYMUSZA KOMPILACJĘ SZABLONÓW
      _PS_SMARTY_NO_UNDEFINED_: "1"         # Pokazuj błędy w szablonach
      _PS_DISABLE_NON_NATIVE_MODULE_: "0"   # Zezwól na nietypowe moduły
    depends_on:
      - db
    volumes:
      - type: bind
        source: ./modules/test_module             # local path to the module
        target: /var/www/html/modules/test_module # path to be mounted in the container
      - type: bind
        source: ./themes/mytheme                  # local path to the module
        target: /var/www/html/themes/mytheme      # path to be mounted in the container
      - ./prestashop_source:/var/www/html 
      #- type: bind
      #  source: ./themes/classic                   # lokalna ścieżka do pobranego szablonu
      #  target: /var/www/html/themes/classic      # ścieżka w kontenerze
      #- ./modules:/var/www/html/modules
      #- ./themes:/var/www/html/themes
      

    networks:
      - prestashop_network

networks:
  prestashop_network:

volumes:
  dbdata: